$header_size: 16px;
$header_weight: 600;

.backing-card {
  // position: sticky;
  margin-top: 82%;
  height: 65vh;
  min-height: 65vh;
  width: 100vw;
  background-color: $accent;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 0 48px hsla(240, 10%, 59%, 0.5);
  z-index: 0;
}

.backing-card-details {
  height: auto;
}

.extra-margin {
  margin-left: 4%; //NOGOOD!
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

body {
  background-color: $accent;
}

.plant_name {
  @include word-wrap;
  line-height: 1em;
  font-weight: 600;
  padding-top: 1em;
  color: $text;
  letter-spacing: -0.02em;
}

.scientific-name {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 300;
}

.top {
  display: flex;
  justify-content: space-between;
  // gap: 2vw;
}

.header {
  font-weight: $header_weight;
  font-size: $header_size;
  align-items: flex-start;
}

.plant-image {
  width: 100vw;
  height: auto;
  z-index: -3;
  position: fixed;
  // border: 3px solid red;
  img {
  // width: 100px;
  // max-width: 100%;
  max-height: auto;
  width: auto;
  height: auto;
  }
}

.category {
  margin-top: 1.5rem;
  position: relative;
}

.text {
  line-height: 1.4em;
}

// .watering::before {
//   content: '💧';
//   font-size: 20px;
//   height: 25px;
//   width: 25px;
//   background-color: transparent;
//   border-radius: 50%;
//   display: inline-block;
//   z-index: -1;
//   position: absolute;
//   top: -0.6em;
//   left: -0.6em;
// }

// .sunlight::before {
//   content: '🌞';
//   font-size: 20px;
//   height: 25px;
//   width: 25px;
//   background-color: transparent;
//   border-radius: 50%;
//   display: inline-block;
//   z-index: -1;
//   position: absolute;
//   top: -0.6em;
//   left: -0.6em;
// }

// .temperature::before {
//   content: '🌡';
//   font-size: 20px;
//   height: 25px;
//   width: 25px;
//   background-color: transparent;
//   border-radius: 50%;
//   display: inline-block;
//   z-index: -1;
//   position: absolute;
//   top: -0.6em;
//   left: -0.6em;
// }

// .care::before {
//   content: '💁‍♀️';
//   font-size: 20px;
//   height: 25px;
//   width: 25px;
//   background-color: transparent;
//   border-radius: 50%;
//   display: inline-block;
//   z-index: -1;
//   position: absolute;
//   top: -0.6em;
//   left: -0.6em;
// }

// .toxicity::before {
//   content: '☠️';
//   font-size: 20px;
//   height: 25px;
//   width: 25px;
//   background-color: transparent;
//   border-radius: 50%;
//   display: inline-block;
//   z-index: -1;
//   position: absolute;
//   top: -0.6em;
//   left: -0.6em;
// }

// .toxicity {
//     margin-bottom: 1.5em;
// }

.button-group {
  // position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 88px;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .sticky {
// position: -webkit-sticky; /* for Safari, iPhone demo day */
// position: sticky;
// bottom: 10vh;
// }











