.card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 8px hsla(240, 10%, 59%, 0.2);
    display: flex;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}

.card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
}

.card-product h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: $text;
}

.card-product h4 {
    font-size: 14px;
    font-style: italic;
    line-height: 1.4;
    opacity: 0.7;
    margin-bottom: 0;
    margin-top: 8px;
    color: $text;
}

.card-product p {
    font-size: 10px;
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 5px;
    color: rgb(245, 135, 9);
}

.card-product .card-product-infos {
    padding: 16px;
}