// My garden title
.title {
    display: flex;
    align-items: center;
    font-size: 45px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: $headers-font;
    img {
        width: 1.5em;
    }
    #title-my {
        margin-right: 4px;
        border-bottom: 12px solid #05ce91;
    }
    #title-body {
        border-bottom: 12px solid #05ce91;
    }
}


/*Pots card*/

.card-pick {
    /*fixed*/
    display: flex;
    flex-direction: column;
    /*customizable*/
    height: 300px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0px 16px rgb(168, 166, 166);
    border-radius: 20px;
}

.card-pick img {
    /*fixed*/
    width: 100%;
    min-height: 100px;
    flex-grow: 0;
    object-fit: cover;
    /*customizable*/
    object-position: 50% 50%;
    border-radius: 4px 4px 0 0;
}

.card-pick-info {
    /*customizable*/
    padding: 16px;
    color: $text;
}

.card-pick-info h3 {
    /*customizable*/
    font-size: 15px;
    line-height: 1.4;
    opacity: 0.7;
    margin-bottom: 0;
    margin-top: 8px;
    margin: 16px 0;
    color: $primary;
}

.card-pick-info p {
    /*customizable*/
    margin: 16px 0;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 5px;
}

.card-pick:hover {
    /*customizable*/
    transition: 0.2s ease-out;
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgb(209, 236, 201);
}

// In case of no results
.card-trip {
    margin-top: 40px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.card-trip>img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-trip h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 10px;
}

.card-trip p {
    font-size: 14px;
    opacity: 0.7;
    margin: 10px;
}

.card-trip .card-trip-infos {
    padding: 27px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    text-align: center;
}

// Media queries for Ipad/ Desktop
@media (min-width: 640px) {
    .card-trip {
        margin-top: 15px;
    }
    .card-trip .card-trip-infos {
        padding: 10px;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .card-trip>img {
        height: 300px;
    }
    .title {
        font-size: 65px;
    }
}