.pot_name {
    color: $primary;
}

.profile-edit {
    color: $text;
    text-decoration: none;
    font-style: normal;
    opacity: 0.7;
}

.pot-info {
    font-size: 16px;
    padding: 0 0.3em 0.3em 0;
    opacity: 0.8;
    font-weight: 300;
}

.wraper {
    position: relative;
    #dot-pots {
        left: 192px;
        position: absolute;
        top: 10px;
    }
    #pots-edit-title {
        font-family: "Poppins", "Helvetica", "sans-serif";
        font-size: 55px;
        border-bottom: 12px solid #05ce91;
        display: inline-block;
        line-height: 0.4;
        margin: 35px 2px 20px;
    }
}