$header_size: 16px;
$header_weight: 600;

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

body {
  background-color: $accent;
}

.plant_name {
  @include word-wrap;
  width: 55vw;
  line-height: 1em;
}

.top {
  display: flex;
  justify-content: space-between;
  // gap: 2vw;
}

.header {
  font-weight: $header_weight;
  font-size: $header_size;
  align-items: flex-start;
}

.plant-image {
  width: 45vw;
  height: auto;
  // border: 3px solid red;
  img {
  width: 100px;
  max-width: 100%;
  max-height: auto;
  width: auto;
  height: auto;
  }
}

.category {
  margin-top: 1.5rem;
  position: relative;
}

.text {
  line-height: 1.4em;
}

// .watering::before {
//   content: '💧';
//   font-size: 20px;
//   height: 25px;
//   width: 25px;
//   background-color: transparent;
//   border-radius: 50%;
//   display: inline-block;
//   z-index: -1;
//   position: absolute;
//   top: -0.6em;
//   left: -0.6em;
// }

// .sunlight::before {
//   content: '🌞';
//   font-size: 20px;
//   height: 25px;
//   width: 25px;
//   background-color: transparent;
//   border-radius: 50%;
//   display: inline-block;
//   z-index: -1;
//   position: absolute;
//   top: -0.6em;
//   left: -0.6em;
// }

// .temperature::before {
//   content: '🌡';
//   font-size: 20px;
//   height: 25px;
//   width: 25px;
//   background-color: transparent;
//   border-radius: 50%;
//   display: inline-block;
//   z-index: -1;
//   position: absolute;
//   top: -0.6em;
//   left: -0.6em;
// }

// .care::before {
//   content: '💁‍♀️';
//   font-size: 20px;
//   height: 25px;
//   width: 25px;
//   background-color: transparent;
//   border-radius: 50%;
//   display: inline-block;
//   z-index: -1;
//   position: absolute;
//   top: -0.6em;
//   left: -0.6em;
// }

// .toxicity::before {
//   content: '☠️';
//   font-size: 20px;
//   height: 25px;
//   width: 25px;
//   background-color: transparent;
//   border-radius: 50%;
//   display: inline-block;
//   z-index: -1;
//   position: absolute;
//   top: -0.6em;
//   left: -0.6em;
// }

.toxicity {
    margin-bottom: 1.5em;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
