.wraper {
    position: relative;
    #dot-profile {
        left: 206px;
        position: absolute;
        top: 10px;
    }
    #profile-style {
        font-family: "Poppins", "Helvetica", "sans-serif";
        font-size: 55px;
        border-bottom: 12px solid #05ce91;
        display: inline-block;
        line-height: 0.4;
        margin: 35px 2px 20px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }
}

h4 {
    font-family: $body-font;
    line-height: 1.6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}