<div class="search-bar row justify-content-center align-items-center mb-5">
    <%= form_tag plants_path, method: :get, class: "form-inline" do %>
      <div class="form-group mb-0">
        <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Search..."
                    %>
      </div>
      <%= button_tag "", class: "btn btn-outline-info" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>