<div class="switcher">
  <input type="radio" name="balance" value="basics" id="basics" class="switcher__input switcher__input--basics" checked="">
  <label for="basics" class="switcher__label">Basics</label>

  <input type="radio" name="balance" value="details" id="details" class="switcher__input switcher__input--details">
  <label for="details" class="switcher__label">Details</label>

  <span class="switcher__toggle"></span>
</div>
