.background {
    background-image: asset_url("landing");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 80px 0;
}

@media (min-width: 600px) {
    .background {
        height: 100vh;
        padding: 80px 0;
    }
}