.background {
    background-image: asset_url("landing.jpg");
    min-height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    object-fit: cover;
    flex-direction: column;
    justify-content: space-between;
}

// .background-body {
//     flex-grow: 1;
//     overflow: scroll;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: unset;
// }