.button-primary {
  background-color: $primary;
  border: none;
  color: $light;
  padding: 1rem 7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 2rem;
}
