#chat-display {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    position: sticky;
    top: 0;

}

#messages {
  overflow-y: scroll;
  flex-grow: 1;
  margin-left: 5px;

}

#chat-border {
  border-bottom: solid black 2px;
  opacity: 0.2;
}
#active-chat {
  border: solid black 2px;
  padding: 8px 16px;
  border-radius: 20px;
}

#inactive-chat {
  border: solid black 2px;
  opacity: 0.5;
  padding: 8px 16px;
  border-radius: 20px;
}

#chatroom-form {
  margin-bottom: -16px;
}

#message_content {
  padding: 24px 5px;
  border-radius: 5px;
}

.chatrooms-header-index {
  display: flex;
  margin: 8px;
  align-items: center;
}

#social-img {
  padding-top: 10px;
  margin-left: 8px;
}

.chatroom-links {
  margin: 16px ;
  overflow-y: scroll;
  flex-grow: 1;
}

.chatroom-header {
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatroom-header h2{
  margin: 0;
  padding: 0;
}

#chat-back-arrow {
  font-size: 30px;
}


