#radio-button-center {
  margin-left: 14%;
}

#radio-button-center label {
  padding-right: 8px;
}

.radio-label {
  padding-right: 8px;
}

.btn-custom {
  position: relative;
  font-weight: 500;
  padding: 12px 42px 12px 12px;
  overflow:hidden;
  line-height: 1.3;
}

.btn-custom .filter {
  position:absolute;
  height: 53px;
  width:42px;
  top:50%;
  right:0;
  transform:translateY(-50%);
  cursor:pointer;
}

@media (max-width: 1200px) {
  .btn-custom {
    height: 42px;
    width: 120px;
    padding: 10px 0;
  }
  .btn-custom .filter {top:65%;}

  .btn .filter-text {
    display: flex;
    align-items: center;
    // position: absolute;
    // left: 50%;
    padding-left: 16px;
    top: 2px;
    // -webkit-transform: translateX(-50%);
    // -ms-transform: translateX(-50%);
    // transform: translateX(-50%);
    text-transform: uppercase;
    // font-size: .58rem;
    font-weight: 600;
    letter-spacing: .03rem;
  }

}

.btn-custom .filter span, .btn-custom .filter span:before, .btn-custom .filter span:after {
  transition:all .3s ease-in-out;
  background: #fff;
  position: absolute;
}
.btn-custom .filter span:before, .btn-custom .filter span:after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  left: -3px;
}
.btn-custom .filter span {
  height: 10px;
  width: 4px;
  top: 10px;
  left: 14px;
  box-shadow: 8px 11px 0 #fff;
}
.btn-custom .filter span:before {
    top: 4px;
}
.btn-custom .filter span:after {
    top: 15px;
}



.btn[aria-expanded=true] .filter span {
  transition:all .1s ease-in-out;
  background:transparent;
  box-shadow:8px 11px 0 transparent;
}


.btn[aria-expanded=true] .filter::after,
.btn[aria-expanded=true] .filter::before {
    opacity: 0
}

.btn[aria-expanded=true] .filter span.rotate::after,
.btn[aria-expanded=true] .filter span.rotate::before {
    opacity: 1
}

.btn[aria-expanded=true] .filter span.rotate::before {
    -webkit-transform: rotate(45deg)translate(4px,4px);
    -ms-transform: rotate(45deg)translate(4px,4px);
    transform: rotate(45deg)translate(4px,4px);
}

.btn[aria-expanded=true] .filter span.rotate::after {
    -webkit-transform: rotate(-45deg)translate(4px,-4px);
    -ms-transform: rotate(-45deg)translate(4px,-4px);
    transform: rotate(-45deg)translate(4px,-4px);
}
