.page-frame-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: red;
}

// .page-frame-header {
//     background-color: $accent;
//     padding: 16px;
// }
.page-frame-body {
    flex-grow: 1;
    overflow: scroll;
    // background-color: blue;
}

// .page-frame-footer {
//     background-color: $accent;
//     padding: 16px;
// }