.page-frame-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-frame-header {
    // background-color: rgb(218, 228, 231);
    // padding: 16px;
}

.page-frame-body {
    flex-grow: 1;
    overflow: scroll;
}

// .page-frame-footer {
//     background-color: rgb(218, 228, 231);
//     padding: 16px;
// }