.card-product {
    overflow: hidden;
    height: 120px;
    background: rgb(248, 245, 245);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
}

.card-product h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: $text;
}

.card-product h4 {
    font-size: 12px;
    line-height: 1.4;
    opacity: 0.7;
    margin-bottom: 0;
    margin-top: 8px;
    color: $text;
}

.card-product p {
    font-size: 10px;
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 5px;
    color: rgb(245, 135, 9);
}

.card-product .card-product-infos {
    padding: 16px;
}
