#carousel-modal-button {
  opacity: 0.7;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#pot-caro-img img {
  margin-top: 0px;
  width: 100vw;
  height: auto;
  object-fit: contain;
  object-position: 50% 50%;
  // z-index: -3 !important;
}

.page-frame-header {
    background-color: #f3f6f8;
    padding: 0px;
}

.picture-button {
  background-image: asset_url("camera_icon/camera.svg");
  background-size: cover;
  height: 32px;
  width: 32px;
  color: white;
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 90%;
  opacity: 0.7;
  margin-top: -8px;
  top: 41%;
  position: absolute;
  left: -5%;
}

.picture-button input[type="file"] {
    opacity: 0;
    font-size: 60px;
    line-height: 1em;
}

#picture_upload input[type="submit" ] {
  display: none;
}

.carousel-z {
  z-index: -10;
  position: fixed;
}
