
.search-button {
  /*  style your btn here  */
  background-image: url("http://localhost:3000/assets/scan_icon/scan_search.svg");
  background-size: cover;
  height: 32px;
  width: 32px;
  color: white;
  cursor: pointer;
  margin-bottom: 0px;
}

.search-button input[type="file" ] {
  opacity: 0;
  font-size: 60px;
  line-height: 1em;
}


