// css for simple form
#water_pot {
  // background-size: cover;
  // height: 32px;
  // width: 32px;
  // color: white;
  // cursor: pointer;
  // // margin-bottom: 0px;
  // right: 0px;
  // position: absolute;
  // margin-top: 16px;
  // margin-right: 40px;
  position: absolute;
  top: 8px;
  left: 114px;
  z-index: 10;
  // background-color: red;
}

#water_pot input[type="submit" ] {
  opacity: 0;
  font-size: 40px;
  line-height: 1em;
  width: 56px
}

//css for water image
.water-button {
  position: absolute;
  z-index: 10;
  transform: scale(0.27);
  bottom: 62%;
  left: 29%;
}

// .water-button-pot-show {
//   background-size: cover;
//   height: 32px;
//   width: 32px;
//   color: white;
//   cursor: pointer;
// }

#water-pot-show input[type="submit" ] {
  opacity: 0;
  font-size: 40px;
  line-height: 1em;
  width: 56px;
  left: 23%;
  position: absolute;
  top: 71%;
}

.water-button-pot-show {
  padding-top: 0.2rem;
  height: 2.5em;
  margin: .3em;
  cursor: pointer;
}

.pot-show-basics-water-icon {
  height: 2.3em;
}
